*{
 margin: 0px;
 padding: 0px;
}
#hero{
background-color: rgba(229, 84, 115, 0.1);
width: 100%;
height: 680px;
display: flex;
justify-content: center;
align-items: center;
gap: 77.6px;

}
.hero-description-box{
 width: 566px;
 height: 404px;
 margin: 157.6px 0px 117.6px 192px;
}

.des-heading{
 color: rgb(39, 39, 39);
  font-family: "Lato";
  font-size: 64px;
  font-weight: 800;
  line-height: 76.8px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 25.6px;
}
.des-pera{
 color: rgba(39, 39, 39, 0.6);
  font-family: "Lato";
  font-size: 14.4px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
  width: 507.2px;
  margin-bottom: 25.6px;
}
.btn{
   color: rgb(255, 255, 255);
   font-family: "Lato";
   font-size: 16px;
   font-weight: 700;
   line-height: 19.2px;
   letter-spacing: 0%;
   background: rgb(229, 84, 115);
   border-style: none;
}

.btn-span{
   width: 93.6px;
   height: 51.2px;
   background: rgb(229, 84, 115);
   border-radius: 5px;
   display: flex;
   align-items: center;
   justify-content: center; 
}

.hero-img{
 width: 508px;
 height: 640px;
 background-image: url("/images/banner-image.png");
 background-size: cover;
 margin: 40px 192px 0px 0px;
}

/* flower section */
#flower{
 margin: 142.4px auto 102.4px;
 display: flex;
 flex-direction: column;
 align-items: center;
 /* border:2px solid red; */
}
.text-div{
 width: 475.2px;
 height: 105.6px;
 margin-bottom: 38.4px;
 /* border: 2px solid greenyellow; */
 
}
.text-div-heading{
 color: rgb(39, 39, 39);
  font-family: "Lato";
  font-size: 32px;
  font-weight: 800;
  line-height: 38.4px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 19.2px;
}
.text-div-para{
 color: rgba(39, 39, 39, 0.6);
  font-family: "Lato";
  font-size: 14.4px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
}
.all-flower{
 display: flex;
 gap: 24px;
 /* border: 2px solid yellow; */
}
.flower-and-name-container{
 /* width: 356.8px;
 height: 484px; */
 /* border: 2px solid purple; */
 
 
}

.flower-container{
 border-radius: 300px 300px 0px 0px;
 /* width: 371.2px;
 height: 430.4px; */
 display: flex;
 margin-bottom: 25.6px;
}
.bg1{
  background: rgba(167, 33, 98, 0.15);
}
.bg2{
 background: rgba(5, 151, 160, 0.15);

}
.bg3{
 background: rgba(71, 125, 17, 0.15);
}
.flower1{
 width: 248px;
 height: 342.4px;
 background-size: cover;
 background-position: bottom center;
 margin: 88px 62.4px 0px;
}
.bg-img1{
 background-image: url("/images/featured1.png");
}
.bg-img2{
 background-image: url("/images/featured2.png");
 background-size: contain;
 background-repeat: no-repeat;
 background-position: center;
}
.bg-img3{
 background-image: url("/images/featured3.png");
}
.flower1-name{
 color: rgb(39, 39, 39);
  font-family: "Lato";
  font-size: 19.2px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: center;
  text-decoration-line: underline;
 
}
/* Service section Design */
#we-offer{
   width: 1152px;
   height: 256px;
   margin: 0px auto 128px;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 8px;
   background: rgba(39, 39, 39, 0.05);

  
}
.offer-container{
 display: flex;
 gap: 80px;
}

.img-span{
 display: flex;
 justify-content: center;
 margin-bottom: 24px;
}

/* Hot deal Section */

#hot-deal{
 display: flex;
 align-items: center;
 justify-content: center;
 gap: 148.8px;
 border-radius: 8px;
 background: rgba(229, 84, 115, 0.05);
 margin-bottom: 120px;
}
.deal-details{
 width: 475.2px;
 height: 220px;
 text-align: center;
}
.deal-details h2{
 font-family: "Lato";
  font-size: 32px;
  font-weight: 800;
  line-height: 48px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 20px;
}
.deal-details p{
 color: rgba(39, 39, 39, 0.6);
  font-family: "Lato";
  font-size: 14.4px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0%;
  margin-bottom: 28px;
  
}
.deal-details span{
 margin: 0 auto;
}
.deal-img{
 width:254.4px ;
 height: 344px;
 background-image: url("/images/sale-0ff.png");
 background-size: contain;
 background-repeat: no-repeat;
 background-position: bottom center;
 margin: 50px 0px;

}

#insta{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 margin-bottom: 120px;
}
.insta-details{
 width: 475.2px;
 /* height: 118.8px; */
 margin-bottom: 38.4px;
}
.insta-details h1{
 color: rgb(39, 39, 39);
  font-family: "Lato";
  font-size: 32px;
  font-weight: 800;
  line-height: 48px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 19.2px;
}
.insta-details p{
 color: rgba(39, 39, 39, 0.6);
  font-family: "Lato";
  font-size: 14.4px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  color: rgba(39, 39, 39, 0.6);
}
.insta-img{
 width: 273.6px;
 height:316.4px ;
 background-size: cover;
 background-position: center;
 background-repeat: no-repeat;
}
.insta-img1{
 background-image: url("/images/insta1.png");
 
}
.insta-img2{
background-image: url("/images/insta2.png");
}
.insta-img3{
background-image: url("/images/insta3.png");
}
.insta-img4{
background-image: url("/images/insta4.png");
}

.insta-img-div{
 display: flex;
 justify-content: center;
 gap: 19.2px;
}

#get-deals{
 width: 1152px;
 height: 359.2px;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 border-radius: 8px;
 background-image: url("/images/latest-deals-bg.png");
  margin: 0 auto;
  background-size: contain;
  margin-bottom: 102px;
}
.deals-description h1{
 font-family: "Lato";
 font-weight: 800;
 font-size: 32px;
 line-height: 38.4px;
 letter-spacing: 0%;
 text-align: center;
 color: rgb(39, 39, 39);
 margin-bottom: 12px;
}
.deals-description p {
font-family: "Lato";
 font-weight: 400;
 font-size: 14.4px;
 line-height: 24px;
 letter-spacing: 0%;
 text-align: center;
 color: rgba(39, 39, 39, 0.6);
}
.deals-description{
 margin-bottom: 36px;
}
.input input{
 width: 560px;
 height: 51.2px;
 border-radius: 10px;
 border: none;
}
.input  > input{
 padding-left: 15px;
}

.input{
 display: flex;
 justify-content: center;
 gap: 12px;
 
}
/* footer */
footer{
 width: 100%;
 height: 360px;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 text-align: center;
 background-color: rgb(17, 16, 16);
}
footer h1 {
font-family: "Lato";
 font-size: 48px;
 font-weight: 800;
 line-height: 58px;
 letter-spacing: 0%;
 text-align: center;
 color:rgb(255, 255, 255);
 margin-bottom: 20pxJ;
}
footer span{
 color: rgb(229, 84, 115);
}
footer .p1{
 width: 500px;
 margin-bottom: 25.6px;
 color: rgba(255, 255, 255, 0.9);
  font-family: "Lato";
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: center;
}

footer .p2{
 color: rgba(255, 255, 255, 0.4);
  font-family: "Lato";
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: center;
}
@media (max-width: 576px) {
  #hero{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
  }
  .hero-container {
    flex-direction: column;
    height: auto;
    gap: 20px;
    padding: 20px;
  }

  .hero-description-box {
    width: 100%;
    height: auto;
    margin: 5px;
    padding: 40px 20px;
  }

  .des-heading {
    font-size: 32px;
    line-height: 40px;
    text-align: center;
  }

  .des-pera {
    font-size: 14px;
    width: 100%;
    text-align: center;
  }

  .btn-span {
    width: auto;
    height: 45px;
  }

  .hero-img {
    width: 100%;
    height: 300px;
    margin: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}