*{
 margin: 0px;
 padding: 0px;
}
#hero{
background-color: rgba(229, 84, 115, 0.1);
width: 1536px;
height: 680px;
display: flex;
/* justify-content: center;
align-items: center; */
gap: 77.6px;

}
.hero-description-box{
 width: 566px;
 height: 404px;
 margin: 157.6px 0px 117.6px 192px;
}

.des-heading{
 color: rgb(39, 39, 39);
  font-family: "Lato";
  font-size: 64px;
  font-weight: 800;
  line-height: 76.8px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 25.6px;
}
.des-pera{
 color: rgba(39, 39, 39, 0.6);
  font-family: "Lato";
  font-size: 14.4px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
  width: 507.2px;
  margin-bottom: 25.6px;
}
.btn{
   color: rgb(255, 255, 255);
   font-family: "Lato";
   font-size: 16px;
   font-weight: 700;
   line-height: 19.2px;
   letter-spacing: 0%;
   text-align: left;
   background: rgb(229, 84, 115);
   border-style: none;
}
.btn-span{
   width: 93.6px;
   height: 51.2px;
   background: rgb(229, 84, 115);
   border-radius: 5px;
   display: flex;
   align-items: center;
   justify-content: center; 
}

.hero-img{
 width: 508px;
 height: 640px;
 background-image: url("/images/banner-image.png");
 background-size: contain;
 margin: 40px 192px 0px 0px;
}

/* flower section */
#flower{
 width: 1152px;
 height: 640px;
 margin: 142.4px auto 102.4px;
 display: flex;
 flex-direction: column;
 align-items: center;
}
.text-div{
 width: 475.2px;
 height: 105.6px;
 margin-bottom: 38.4px;
 
}
.text-div-heading{
 color: rgb(39, 39, 39);
  font-family: "Lato";
  font-size: 32px;
  font-weight: 800;
  line-height: 38.4px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 19.2px;
}
.text-div-para{
 color: rgba(39, 39, 39, 0.6);
  font-family: "Lato";
  font-size: 14.4px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
}
.all-flower{
 display: flex;
 gap: 24px;
}
.flower-and-name-container{
 width: 356.8px;
 height: 484px;
 
 
}

.flower-container{
 border-radius: 300px 300px 0px 0px;

 width: 371.2px;
 height: 430.4px;
 display: flex;
 margin-bottom: 25.6px;
}
.bg1{
  background: rgba(167, 33, 98, 0.15);
}
.bg2{
 background: rgba(5, 151, 160, 0.15);

}
.bg3{
 background: rgba(71, 125, 17, 0.15);
}
.flower1{
 width: 248px;
 height: 342.4px;
 background-size: cover;
 background-position: bottom center;
 margin: 88px 62.4px 0px;
}
.bg-img1{
 background-image: url("/images/featured1.png");
}
.bg-img2{
 background-image: url("/images/featured2.png");
 background-size: contain;
 background-repeat: no-repeat;
 background-position: center;
}
.bg-img3{
 background-image: url("/images/featured3.png");
}
.flower1-name{
 color: rgb(39, 39, 39);
  font-family: "Lato";
  font-size: 19.2px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: center;
  text-decoration-line: underline;
 
}